<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ylvov_robot">
    <xacro:include filename="$(find bot_description)/urdf/properties.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/materials.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/macros.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/links.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/joints.xacro" />
	<!-- <xacro:include filename="$(find bot_description)/urdf/bot.gazebo.xacro" /> -->
</robot>
